{% extends "base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    
    <form method = "post" style="width: 50%; margin: auto;" novalidate>
        <h1>Password Change Page</h1>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for err in form.non_field_errors %}
                <p class="bg-danger text-white p-3">{{err}}</p>
            {% endfor %}
        {% endif %}
        <!-- {{form | crispy }} -->
         {% comment %} django form er help text gula na dekhate chaile {% endcomment %}
        {% for fm in form %}
            {{fm.label_tag}} {% comment %} first_name, last_name ... ei label tag gula dekhabe  {% endcomment %}
            {{fm}} {% comment %} input box ya dekhabe {% endcomment %}
            <p class="text-danger">{{fm.errors | striptags }}</p>
            {% comment %} error message gula show korbe {% endcomment %}
        {% endfor %}
        <br/>
        <button class="btn btn-warning" type="submit">Change Password</button>
    </form>


{% endblock %}