<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Homepage</h1>
    <h3> <a href = "/">Home</a> </h3>
    <h3> <a href = "/navigation/about/">About</a> </h3>
    <h3> <a href = "/navigation/contact/">Contact</a> </h3>

    <p>Django is a powerful framework for creating web applications in Python. <br> Its features include database models, routing URLs, authentication, user management, administrative tools, and a template language. <br> You can compose reusable HTML that changes based on the data you pass to the template language. <br> Django templates use tags and filters to define a mini-language that’s similar to Python—but isn’t Python.</p>
</body>
</html>