<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Contact Page</h1>
    <h3> <a href = "/">Home</a> </h3>
    <h3> <a href = "/navigation/about/">About</a> </h3>
    <h3> <a href = "/navigation/contact/">Contact</a> </h3>

    <p>Name: {{name}}</p>
    <p>Phone: {{phone}}</p>
    <p>Address: {{address}}</p>
    <p>{{Date | date:"D d M Y"}}</p>
    <p>{{Date | time:""}}</p>
    
</body>
</html>