body{
    /* width: 1200px; */
    /* border: 1px solid gray; */
    margin: auto;
    background-color: rgb(241, 234, 234);
}

li{
    list-style: none;
}
nav{
    background-color: aqua;
}
.menu{
    font-size: 20px;
}
.menu:hover{
    color: white;
    cursor: pointer;
}

.banner-container{
    width: 1200px;
    margin: auto;
    padding: 30px;
}

.banner{
    height: 450px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(cyan, rgb(33, 137, 137));
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    /* padding: 30px; */
}

.bn-img{
    width: 322px;
    margin-top: -50px;
}

.service-container{
    width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.title{
    font-size: 44px;
    color: aqua;
    text-align: center;
}

.doctors-container{
    margin-top: 50px;
    padding: 30px;
}

.doc-card{
    width: 300px;
    height: 330px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}

.doc-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#search{
    padding: 10px;
    width: 75%;
    border: none;
}