{% extends "base.html" %}
{% load crispy_forms_tags %}
{% comment %} lokkhoniyo bishoy: post.title, post.content etc ekhane post ta hocche post app ta, class based view use korar karone context hisebe kichu na pathaleu chole, app er nam use korlei hoy {% endcomment %}
{% block content %}
{% csrf_token %}

<div class="col-12">
    <div class="card mx-2">
        <div class="card mx-2">
            <div class="card-body">
                <img src="{{car.image.url}}" class="card-img-top" alt="..." style="width: 40%;">
                <h5 class="card-title"><a class="text-decoration-none text-dark" href="{% url 'car_details' car.id %}">{{car.brand}}</a></h5>
                <p class="card-text">{{car.model_name}}</p>
                <p class="card-text">{{car.features | truncatewords:10}}</p>
                <p class="card-text">BDT. {{car.price}}</p>
                <p class="card-text">Available {{car.quantity}} pieces</p>
                <br/>
                {% if request.user.is_authenticated %}
                    {% comment %} <a href="{% url 'buy_car' car.id %}" class="btn btn-success">Buy Now</a> {% endcomment %}
                    <form method="POST" action="{% url 'buy_car' car.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">
                            Buy Now
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="card m-2">
    <h5 class = "p-3">Total Comments : {{comment | length}}</h5>
    {% for cmnt in comment %}
        <div class="card-body border m-2">
            <p><b>{{cmnt.name}}</b> {{cmnt.created_on}}</p>
            <p>{{cmnt.body}}</p>
        </div>
    {% endfor %}
</div>

<div class="card m-2">
  <div class="card-body">
    <form method = "post">
        <h1> Add Comment </h1>
        {% csrf_token %}
        {{form | crispy}}
        <button class = "btn btn-warning">Submit</button>
    </form>
  </div>
</div>
{% endblock %}