<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <style>
        .success{
            color: green;
        }
    </style>
</head>
  <body>
    
    {% load crispy_forms_tags %}
    {% if messages%}
        {% for m in messages %}
            <small {% if m.tags %} class="{{m.tags}}" {% endif %}>{{m}}</small>
        {% endfor %}
    {% endif %}

    {% comment %} {% if messages %}
        {% for m in messages %} {% endcomment %}
            {% comment %} <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded me-2" alt="...">
                    <strong class="me-auto">Success</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{m}}
                </div>
            </div> {% endcomment %}
            {% comment %} <small {% if m.tags %} class = "{{m.tags}}" {% endif %}>{{m}}</small>
        {% endfor %}
    {% endif %} {% endcomment %}


    
    
    
    <form method = "post" style="width: 50%; margin: auto;" novalidate>
        <h1>Signup Page</h1>
        {% csrf_token %}
        <!-- {{form | crispy }} -->
         {% comment %} django form er help text gula na dekhate chaile {% endcomment %}
        {% for fm in form %}
            {{fm.label_tag}} {% comment %} first_name, last_name ... ei label tag gula dekhabe  {% endcomment %}
            {{fm}} {% comment %} input box ya dekhabe {% endcomment %}
            {{fm.errors | striptags }}
            {% comment %} error message gula show korbe {% endcomment %}
        {% endfor %}
        <br/>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>