{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        .success{
            color: green;
        }
    </style>
    
    {% if messages%}
        {% for m in messages %}
        {% comment %} conditional css use bole etake {% endcomment %}
            <small {% if m.tags %} class="{{m.tags}}" {% endif %}>{{m}}</small>
        {% endfor %}
    {% endif %}

    
    {% comment %}
    {% if messages %}
        {% for m in messages %}
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded me-2" alt="...">
                    <strong class="me-auto">Success</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{m}}
                </div>
            </div>
            <small {% if m.tags %} class = "{{m.tags}}" {% endif %}>{{m}}</small>
        {% endfor %}
    {% endif %}
    {% endcomment %}
    


    
    
    
    <form method = "post" style="width: 50%; margin: auto;" novalidate>
        {% comment %}
            "novalidate" use korar karon hocche, jokhon form er kono field e kono data na diye submit kora hoy tokhon html theke ekta error message ashe
            ami chai sei error message ta html theke na eshe django theke ashuk. Tai "novalidate" use korechi
        {% endcomment %}
        <h1>Signup Page</h1>
        {% csrf_token %}
        <!-- {{form | crispy }} -->
         {% comment %} django form er help text gula na dekhate chaile {% endcomment %}
        {% for fm in form %}
            {{fm.label_tag}} {% comment %} first_name, last_name ... ei label tag gula dekhabe  {% endcomment %}
            {{fm}} {% comment %} input box ya dekhabe {% endcomment %}
            {{fm.errors | striptags }}
            {% comment %}
                "striptags" tag ta error er jonno help text ba warning er jonno help text gula show koray (field er niche)
            {% endcomment %}
            {% comment %} error message gula show korbe {% endcomment %}
        {% endfor %}
        <br/>
        <button class="btn btn-primary" type="submit">Submit</button>
        <br/>
        <small>Already have an account? <a href = "{% url 'login' %}">Login</a></small>
    </form>
{% endblock %}